body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFECB3;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

.back-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f0a500;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.back-btn:hover {
  background-color: #cf7500;
}

.slider{
  aspect-ratio: 10 / 16;
  position: relative;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.slider img, .slider video{
  width: 100%;
  left: 0;
  position: sticky;
  object-fit: cover;
  border-radius: 5px;
  scroll-snap-align: center;
}

.slide-item {
  scroll-snap-align: center; /* Centra el elemento en el scroll */
  flex: 0 0 100%; /* Ocupa el 100% del contenedor */
}
